{% extends "layout.html" %}

{% block heading %}Gather - Search for Events, Join Groups, Meet New People{% endblock %}

{% block body %}
{% if username %}
<div class="col-lg-12 row">
    <a class="btn btn-outline-primary btn-lg" role="button" href="{{ url_for('addGroup') }}">Create a Group</a>
    <a class="btn btn-outline-primary btn-lg" role="button" href="{{ url_for('addEvent') }}">Create an Event</a>
</div>
{% endif %}

<div class="col-lg-12 container">
  <h3>Filter Table By:</h3>
  <div class="container">
    
    <form class="was-validated" id="sort_by" action="/search" method="post">
      <div class="form-group">        
        <div class="form-group">
          <label for="eventTitle">Title</label>
          <input type="text" class="form-control is-invalid" id="eventTitle" placeholder="Event Title" name="title" />
        </div>
      </div>
	    
      <div class="form-group">        
        <div class="form-group row">
          <label for="startDate">Start Date</label>
	  <input type="date" class="form-control is-invalid" id="startDate" name="start_date" />
        </div>
      </div>
	    
      <div class="form-group">
        <label for="eventLocation">Event Location</label>
        <input type="text" class="form-control is-invalid" id="eventLocation" placeholder="Event Location" name="location" />
      </div>
	    
      <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    
  </div>
</div>

<div class="col-lg-12 row">

    <h3>All Upcoming Events in Gather</h3>

    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col" style="display:none">Event ID</th>
            <th scope="col">Event Title</th>
            <th scope="col">Event Date and Time</th>
            <th scope="col">Event Location</th>
            <th scope="col">Event Tags</th>
        </tr>
        </thead>
        <tbody>
        {% if events %}
        {% for event in events.values() %}
        <tr>
            <td style="display:none"> {{event['info'].event_id}}</td>
            <th scope="row"><a href="{{ url_for('event', eid=event['info'].event_id) }}">{{event['info'].title}}</a>
            </th>
            <td scope="row">{{event['info'].start_date}} {{event['info'].start_time}}</td>
            <td>{{event['info'].location}}</td>

            <td>
                {% for tag in event['tags'] %}
                    {% if tag %}
                    <a href="{{ url_for('tag', tag=tag) }}">{{tag}}</a>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}

