{% extends "layout.html" %}

{% block heading %}Add a New Event{% endblock %}

{% block body %}
<div class="container col-lg-12 row">
    <form class="was-validated" id="addevent" action="/events/new" method="post">
      <div class="form-group row">
        <label for="eventTitle">Title</label>
        <input type="text" class="form-control is-invalid" id="eventTitle" placeholder="Event Title" name="title" required />
        <div class="invalid-feedback">
          Please enter a title name
        </div>
      </div>

      <div class="form-group row">
        <label for="groupChoice">Group Name</label>
        <select class="custom-select" name="group_id" id="groupChoice" required>
          {% for group in groups %}
          <option value="{{group.group_id}}">{{group.group_name}}</option>
          {% endfor %}
        </select>
        <div class="invalid-feedback">Please Select A Group</div>
      </div>

      <div class="form-group row">
        <label for="startDate">Start Date</label>
	<input type="date" class="form-control is-invalid" id="startDate" name="start_date" required />
        <div class="invalid-feedback">
          Please enter a date
        </div>
      </div>

      <div class="form-group row">
        <label for="startTime">Start Time</label>
	<input type="time" class="form-control is-invalid" id="startTime" name="start_time" required />
        <div class="invalid-feedback">
          Please enter a time
        </div>
      </div>

      <div class="form-group row">
        <label for="endDate">End Date</label>
	<input type="date" class="form-control" id="endDate" name="end_date" />
      </div>

      <div class="form-group row">
        <label for="endTime">End Time</label>
        <input type="time" class="form-control" id="endTime" name="end_time" />
      </div>

      <div class="form-group row">
        <label for="eventLocation">Event Location</label>
        <input type="text" class="form-control is-invalid" id="eventLocation" placeholder="Event Location" name="location" required />
        <div class="invalid-feedback">
          Please enter an event location
        </div>
      </div>

      <div class="form-group mb-6 row">
        <label for="descriptionBox">Description</label>
        <textarea class="form-control" id="descriptionBox" placeholder="Description Here" name="description" maxlength="500"></textarea>
      </div>

      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>
  </div>
{% endblock %}
